# Maven y Build de Java
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.restore
release.properties
dependency-reduced-pom.xml
build.log
.incremental/
*.class

# IDEs y Editores
.idea/
*.iml
*.iws
.vscode/
.classpath
.project
.settings/
.nb-gradle/
*.swp
*.swo

# Logs
logs/
*.log

# Variables de entorno y credenciales (Archivos Delicados)
.env
.env.*
!.env.example
secret-keys/
*.pem
*.key
certs/

# OS File System
.DS_Store
Thumbs.db

# Infraestructura como Código: Terraform
terraform/
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl
tfplan
tfplan*
*.zip

# Serverless framework / AWS SAM
.serverless/
.aws-sam/
